.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main{
  /* background-color: cornflowerblue; */
  display: flex;
  flex-direction: column;
}
#textinput {
  padding: 1rem;
  border-radius: 5px;
}

.input-section {
  display: flex;
  background-color: darkcyan;
  align-items: center;
  height: 25vh;

}
.content-section {
  /* background-color: wheat; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content-section label {
  color: white;
  margin-right: 1rem;
}
.selection input{
  width: 100%;
  padding: 10px;
}
.selection{
 background-color: cornsilk;
 padding: 1rem;
 
}
.report-section{
  text-align: left;
  padding-top: 1rem;

}
.report-section span{
  font-weight: bold;
  margin-right: 1rem;
}

#report-section, #result-section{
  background-color: whitesmoke;
  /* border: 1px solid #414141; */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}


#result-section{
  height: 73vh;
  text-align: center;
  margin: auto;
  
  
}

.result-heading {
  align-items: center;
}